<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Sources/estilohero.css" rel="stylesheet" />
</head>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <img src="https://andrestayupanta.neocities.org/imagesMvc/images.jpg" alt="Bullworth College Logo" style="height: 40px; width: auto; margin-right: 10px;">
        @Html.ActionLink("Bullworth College", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Estudiantes", "Index", "Estudiantes", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Becas", "Index", "Becas_Ayudas_Financieras", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Pagos", "Index", "Pagos", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Morosidades", "Index", "Morosidades", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Resultados", "Resultados", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </div>
</nav>


<body class="d-flex flex-column min-vh-100">
    <div class="container body-content flex-grow-1">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<footer class="text-white pt-4 pb-2" style="background-color:#151111">
    <div class="container-fluid">
        <div class="row">
            <!-- Columna de Logo -->
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <img src="https://andrestayupanta.neocities.org/imagesMvc/images.jpg" alt="Bullworth College Logo" class="img-fluid mb-2">
                <p>Comprometidos con la formación de líderes y profesionales que marcarán la diferencia en el mundo.</p>
            </div>

            <!-- Columna de Contacto -->
            <div class="col-lg-4 col-md-4 col-12 mb-3">
                <h5 class="fw-bold">Contáctanos</h5>
                <p>Av. 12 de Octubre y Roca,<br> Quito, Ecuador</p>
                <p>+593 2 123 4567</p>
                <p>secretaria@bullworth.edu.ec</p>
            </div>

            <!-- Columna de Enlaces -->
            <div class="col-lg-4 col-md-12 col-12">
                <h5 class="fw-bold">Facultades</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Facultad de Ciencias</a></li>
                    <li><a href="#" class="text-white">Facultad de Derecho</a></li>
                    <li><a href="#" class="text-white">Facultad de Ingeniería</a></li>
                    <li><a href="#" class="text-white">Facultad de Artes</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</html>
