@model InterfazPrueba.Models.Morosidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Morosidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dias_retraso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dias_retraso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_debido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_debido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_morosidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
