@model InterfazPrueba.Models.EstudiantesMorosidadesVM
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Morosidades", FormMethod.Get, new { @class = "form-inline" }))
{

    <!-- Campo de búsqueda por nombre de estudiante -->
    <div class="form-group mb-2">
        <label for="NombreEstudiante" class="sr-only">Nombre del Estudiante</label>
        @Html.TextBoxFor(model => model.NombreEstudianteBuscado, new { @class = "form-control", @placeholder = "Buscar por nombre", @id = "NombreEstudiante" })
    </div>

    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
}



<link href="~/Sources/paginacion.css" rel="stylesheet" />

<!-- Añadir controles de paginación aquí -->
@Html.PagedListPager(Model.Morosidades, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    DisplayLinkToIndividualPages = true,
    DisplayPageCountAndCurrentLocation = false,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    EllipsesFormat = "&#8230;",
    LinkToFirstPageFormat = "Primera",
    LinkToPreviousPageFormat = "Anterior",
    LinkToNextPageFormat = "Siguiente",
    LinkToLastPageFormat = "Última",
    PageCountAndCurrentLocationFormat = "Página {0} de {1}.",
    ItemSliceAndTotalFormat = "Mostrando {0} a {1} de {2} entradas.",
    FunctionToDisplayEachPageNumber = null,
    ClassToApplyToFirstListItemInPager = null,
    ClassToApplyToLastListItemInPager = null,
    ContainerDivClasses = new[] { "pagination-container" },
    UlElementClasses = new[] { "pagination" },
    LiElementClasses = new[] { "page-item" },
})


<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().id_morosidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().Estudiantes.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().Estudiantes.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().semestre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().dias_retraso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morosidades.FirstOrDefault().monto_debido)
        </th>
        <th>Opciones</th>
    </tr>

    @foreach (var item in Model.Morosidades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_morosidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiantes.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiantes.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dias_retraso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto_debido)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_morosidad }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_morosidad }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_morosidad })
            </td>
        </tr>
    }
</table>

