@model InterfazPrueba.Models.Estudiante

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Estudiante</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_estudiante)

    <div class="form-group">
        @Html.LabelFor(model => model.ci_estudiante, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ci_estudiante, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ci_estudiante, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.correo_electronico, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo_electronico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.correo_electronico, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--
        <div class="form-group">
            @Html.LabelFor(model => model.programa_academico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.programa_academico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.programa_academico, "", new { @class = "text-danger" })
            </div>
        </div>

        -->
    <div class="form-group">
        @Html.LabelFor(model => model.programa_academico, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.programa_academico, (SelectList)ViewBag.ProgramaAcademicoOptions, "-- Seleccione una opción --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.programa_academico, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.estado_matricula, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.estado_matricula, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.estado_matricula, "", new { @class = "text-danger" })
        </div>
    </div>
        -->

    <div class="form-group">
        @Html.LabelFor(model => model.estado_matricula, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.estado_matricula, (SelectList)ViewBag.EstadoMatriculaOptions, "-- Seleccione una opción --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.estado_matricula, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-4">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
