@model InterfazPrueba.Models.Pagos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pagos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_estudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_estudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semestre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiantes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
