@model InterfazPrueba.Models.Becas_Ayudas_Financieras

@{
    ViewBag.Title = "Edit";
    var semestreList = new SelectList(new[] { "2023A", "2023B" });
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Becas_Ayudas_Financieras</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_beca)

    <div class="form-group">
        @Html.LabelFor(model => model.id_estudiante, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.id_estudiante, (SelectList)ViewData["EstudianteIDBecasMod"], "-- Seleccione un Estudiante --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.id_estudiante, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.tipo_beca, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.tipo_beca, (SelectList)ViewBag.TipoBecaEnBecasMod, "-- Seleccione una opción --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tipo_beca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.monto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--
    <div class="form-group">
        @Html.LabelFor(model => model.semestre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.semestre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.semestre, "", new { @class = "text-danger" })
        </div>
    </div>
        -->

    <div class="form-group">
        @Html.LabelFor(model => model.semestre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.semestre, (SelectList)ViewBag.SemestreBecasMod, "Seleccione", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.semestre, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 mt-4">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
